body {
  background: rgb(180, 197, 228);
  font-family: cursive;

}

#navBar {
  background: rgb(9, 12, 155)
}

.navbar-brand {
  color: rgb(251, 255, 241);
  }

.nav-link {
  color: rgb(180, 197, 228);
}


.logo {
  height: 20px;
  width: auto;
}

.card {
  background: rgb(251, 255, 241);
  color: rgb(9, 12, 155);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
  background: rgb(180, 197, 228);
  color: rgb(9, 12, 155);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 16 px;
}

.btn-active {
  background: rgb(9, 12,155);
}
